<!-- <div>
    <input #taskName placeholder="Task Name"/>
    <button (click) = "addTask(taskName.value); taskName.value=''">Add Task</button>
</div> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 btn-style">
            <button class="btn btn-primary " routerLink = "/addTask">Add New Task</button>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="tasks">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let task of tasks">
                        <div ><span class="badge badge-dark">{{task.id}}</span> <p class="inline" [ngClass]="{'text_decoration':task.complete, 'text_style':true}">{{task.name}}</p>
                            <button class="btn btn-success inline" [disabled] = task.complete (click) = "onCompleted(task)">Mark Complete</button>
                            <button class="btn btn-warning inline" [disabled] = task.complete routerLink = "/updateTask/{{task.id}}" >Edit Task</button>
                            <button class="btn btn-danger inline" (click) = "delTask(task.id)">Delete Task</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
        
    </div>
    
</div>