<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input #taskName type="text" class="form-control" placeholder="Task Name" value={{taskValue}}>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click) = "savetask(taskName.value); taskName.value=''" type="button">{{btn_name}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-dark" (click) = "goBack()">Back</button>
        </div>
        <div class="col-md-4"></div>
        
    </div>
</div>
    <!-- <div>
        <input #taskName placeholder="Task Name" value={{taskValue}}/>
        <button *ngIf="!taskValue" (click) = "addTask(taskName.value); taskName.value=''">Save</button>
        <button *ngIf="taskValue" (click) = "updateTask(taskName.value); taskName.value=''">Update</button>
        <button (click) = "savetask(taskName.value); taskName.value=''">{{btn_name}}</button>
        <button (click) = "goBack()">Back</button>
    </div> -->
